.page {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: #FFFFFF;
  background-color: #F4F4F4;
}

.wrapper {

}

/*header https://www.youtube.com/watch?v=chJQofBSx94*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50; /*So it goes above all the layers for sure*/
  width: 100%;
} /*1*/

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:	burlywood;
} /*2*/


.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
} /*set the borders of the container*/
/*3.5*/

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /*To get the content above the header:before*/
  top: 0;
  left: 0;
  z-index: 2;
  height: 74px;
} /*3, 4*/

.header__burger {
  display: none;
} /*8*/

.header__burger-middle {
  display: none;
} /*9*/

.header__menu {
}

@media (max-width: 767px) {
  .header__burger {
    display: block; /*for the lines*/
    position: relative;
    width: 22px;
    height: 19px;
  }

  .header__burger-middle {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #151515;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #151515;
  } /*the common styles*/ /* I must not put
  .header__burger-middle-line here*/

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

} /*7*/

.header__list {
  display: flex;
  list-style: none;
} /*5*/

.header__link {
  margin: 0 34px 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: right;
  color: #151515;
  text-decoration: none;
} /*6*/

.text-lorem {
  margin: 0 auto;
  padding: 100px 0 0; /*Remember that the header covers the beginning od the text
  part so you need the top padding*/
  max-width: 1440px;
}

.text-lorem__paragraph {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #222222;
  opacity: 0.7;
}
